body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 120px;    
    background-color: rgb(52, 110, 225);
    padding-left: 20px;    
}

.gallery-title {
    color: white;
    font-size: 2.5em;
    margin: 5px 0px;
}

.subtitle-albums {
    color: #fff;
    font-size: 1.5em;
    margin: 5px 0px;
}

.view-albums {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    gap: 10px;
}

.album-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 600;
    background-color: grey;
    border: 1px solid rgb(52, 110, 225);     
}

.router-sequence {
    display: flex;
    flex: 1 1 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(28, 74, 201);
    color: #ffff;
}

.router-link {
    padding: 10px;
    color: #fff;
}

.photos-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(194, 194, 194);
    gap: 20px;
    padding: 20px;
}


